Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Quick Draw.sln
UnityGifDecoder.csproj
UserSettings/
Packages/
obj/
Logs/
Library/
.vs/
GoogleMobileAds.csproj
GoogleMobileAds.Editor.csproj
.vsconfig
Quick-Draw.sln
Assets/Audio/Marty Robbins - They're Hanging Me Tonight (Audio).wav
Assets/Audio/Marty Robbins - They're Hanging Me Tonight (Audio).wav.meta
